<div class="notice">
  <h4>Did you enjoy this post?</h4>
  <p>
    If you did, check out my Github repo - I've got some cool projects on there. I also post these articles on Medium, so you could get notifications when they get posted if you download the Medium app and subscribe to my feed. Alternatively you could even subscribe to my feed on this site and get notified by my updates here. Add me on social media too.

    It's quite possible that you didn't like this article (yes - that is fine!). I'd love some feedback!
  </p>
</div>
