$primary-color: #303030;
$secondary-color: #9a9a9a;
$header-font-stack: 'Spectral', serif;
$body-font-stack: 'Raleway', sans-serif;

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 12px;
  color: $primary-color;
}

@media (max-width: 1024px) { 
  .container {
    max-width: 38rem;
    margin-left: auto;
    margin-right: auto;
    padding: 10;
  }
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

header.masthead {
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 3rem;
}

.title {
}

a {
  color: inherit;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $header-font-stack;
}

.current {
}

.masthead-title small {
  font-weight: 400;
  opacity: .5;
}
