<!doctype html>
<html>
  <head>
    {% include meta.html %}
    <title>{{ page.title }}</title>
    {% include style.html %}
  </head>
  <body>
    <div class="container">
      <header class="masthead" align="center">
        {% include title.html %}
        {% include navigation.html %}
      </header>
      <div class="container content">
        {{ content }}
      </div>
      <footer class="footer" align="center">
        <div class="container">
          {% include contact.html %}
        </div>
      </footer>
      {% include script.html %}
    </div>
  </body>
</html>
